* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: radial-gradient(#fee2df, #fac1bc);
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 25px;
}
