header {
  background-color: steelblue;
  top: 0;
  position: fixed;
  width: 100%;
}

.navbar {
  background-color: teal;
  max-width: 1300px;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

.logo h1 {
  background-color: tomato;
  color: #161854;
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: turquoise;
  flex-grow: 1;
  text-align: right;
}

nav ul {
  background-color: violet;
  display: inline-block;
  list-style: none;
}

nav ul li {
  background-color: wheat;
  display: inline-block;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
}

nav ul .link {
  text-decoration: none;
  color: #161854;
}

.cart {
  position: relative;
  padding: 0px 5px;
}

.cart-icon {
  color: #161854;
}

.cart-number {
  background-color: red;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 0.6em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .logo h1 {
    font-size: 1.8em;
  }

  nav ul {
    display: flex;
    gap: 10px;
  }

  nav ul li {
    margin: 0px;
  }
}
