nav {
  font-family: "Montserrat", sans-serif;
}

.logo {
  padding: 20px;
  text-align: center;
}

.navigation {
  padding: 15px;
}

.navigation ul {
  /*Grid*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.link-home {
  grid-column: 2/3;
  text-align: center;
}
.link-shop {
  grid-column: 3/4;
  text-align: center;
}
.link-cart {
  grid-column: 4/5;
  text-align: end;
}

.navigation ul li {
  text-decoration: none;
  list-style: none;
}
